@charset "utf-8";

.post{
  &__company{
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    @include mq(md){
      font-size: 2.4rem;
      margin-bottom: 1.7rem;
    }
  }
  &__label{
    font-size: 1rem;
    background: $bg_colorSub;
    display: inline-block;
    padding: 0.7rem 1.8rem 0.7rem 1.1rem;
    margin: 0 0.8rem 0.8rem 0;
    @include mq(md){
      font-size: 1.2rem;
      padding: 0.9rem 1.2rem 0.9rem 1.6rem;
      margin: 0 0.8rem 2.4rem 0;
    }
  }
  &__heading{
    font-size: 1.6rem;
    line-height: 1.375;
    margin-bottom: 1.2rem;
    @include mq(md){
      margin-bottom: 0.9rem;
    }
  }
  &__text{
    font-size: 1rem;
    line-height: 1.7rem;
    margin-bottom: 8.2rem;
    @include mq(md){
      font-size: 1.6rem;
      line-height: 1.6875;
    }
  }
}