@charset "utf-8"; 

$font_colorBody: #000000;
$font_colorPrimary: #FFFFFF;
$font_colorSecondary: #222222;
$colorTertiary: #9D9D9D;
$font_colorQuaternary: #D1D1D1;
$bg_colorMain: #DBD7C7;
$bg_colorSub: #ffffff;
// $bg_colorShadow: #000000;
// $pseudoElement_color:#707070;